# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env

# Serverless directories
.serverless

./porftolio-risk-ui/node_modules
./porftolio-risk-ui/dist
./porftolio-risk-ui/build
./porftolio-risk-ui/package-lock.json